{
  "printWidth": 120,
  "endOfLine": "auto",
  "semi": true,
  "singleQuote": false,
  "useTabs": false,
  "tabWidth": 2,
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "trailingComma": "es5",
  "bracketSameLine": true,
  "overrides": [
    {
      "files": ["*.js", "*.ts"],
      "options": {
        "singleQuote": true
      }
    },
    {
      "files": ["*.json"],
      "options": {
        "tabWidth": 4
      }
    }
  ]
}
